main {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.left-main, .right-main {
    min-height: 600px;
    width: 200px;
    background-color: aqua;
}

.center-main {
    min-height: 600px;
    flex: 1;
    background-color: rgba(91, 83, 83, 0.521);
}

footer{
    text-align: center;
    font-size: 200px;
    background-color: blueviolet;
    min-height: 200px;
}