body {
    background: #f2f2f2;
}

main {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: #f2f2f2;
    gap: 20px;
}

.left-main, .right-main {
    min-height: 600px;
    width: 200px;
    background-color: lightgray;
    border-radius: 15px;
}

.center-main {
    min-height: 600px;
    flex: 1;
    background-color: lightgray;
    border-radius: 15px;
}

footer{
    text-align: center;
    font-size: 200px;
    background-color: lightgray;
    min-height: 200px;
    border-radius: 15px;
}